
<main>
    <div id="cardListBlock">
    <div id="headers">
        <h3 id="header" class="idProfile">Id</h3>
        <h3 id="header" class="nameProfile">Name</h3>
        <label for="typeProfile">Type</label>
        <select name="typeProfile" id="typeProfile" [(ngModel)]="selectedType" (change) = "GetCardTypeSort(selectedType)">
            <option [value]="'All'">All Types</option>
            <option [value]="'Machine'">Machine</option>
            <option [value]="'Pyro'">Pyro</option>
            <option [value]="'Alchemy'">Alchemy</option>
            <option [value]="'Tesla'">Tesla</option>
            <option [value]="'Bio'">Bio</option>
        </select>
        <h3 id="header" class="costProfile">Cost</h3>
    </div>
    <section id="blockSection" *ngFor="let card of cardList" (click)="ViewCard(card)">
        <div class="idProfile">{{card.id}}</div>
        <div class="nameProfile">{{card.name}}</div>
        <div class="typeProfile">{{card.typeString}}</div>
        <div class="costProfile">{{card.cost}}</div>
    </section>
    </div>
    <div id="CardViewBlock">
        <app-card-view [cardID]="cardId"></app-card-view>
    </div>
</main>





