#cardListBlock {
    display: flex;
    flex-direction: column;
}

#headers {
    display: flex;
    flex: inline-block;
    width: auto;
}


#blockSection {
    display: flex;
    flex: inline-block;
    min-width: 200px;
    max-width: 250px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.idProfile {
    min-width: 30px;
    background-color: lightblue;
}

.nameProfile {
    min-width: 100px;
    background-color: beige;
}

.typeProfile {
    min-width: 70px;
    background-color: aquamarine;
}