<title>Card Creation</title>

<form [formGroup]="newForm">

    <div id="idBox" class="my-4">
        <div class="form-floating">   
            <input class="form-control w-25 border border-black" type="number" id="id" formControlName="id" placeholder="Id">
            <label class="form-label" for="id">Id:</label>
        </div>
    </div>

    <div id="nameBox" class="my-4">
        <div class="form-floating">
            <input type="text" id="name border border-black" formControlName="name" class="form-control w-25 border border-black" placeholder="Name">        
            <label for="name" class="form-label">Name:</label>       
        </div>
    </div>

    <div id="typeBox" class="my-4">
        <div class="form-floating">
            <select id="type" formControlName="inputType" class="form-select w-25 border border-black">
                <option>Machine</option>
                <option>Pyro</option>
                <option>Alchemy</option>
                <option>Tesla</option>
                <option>Bio</option>
            </select>        
            <label for="type" class="form-label">Card Type:</label>
        </div>
    </div>

    <div id="costBox" class="my-4">
        <div class="form-floating">
            <input type="number" id="cost" formControlName="cost" class="form-control w-25 border border-black" placeholder="Cost">        
            <label for="cost" class="form-label">Card Cost:</label>
        </div>
    </div>

    <div id="attackBox" class="my-4">
        <div class="form-floating">
            <input type="number" id="attack" formControlName="attack" class="form-control w-25 border border-black" placeholder="Attack">
            <label for="attack" class="form-label">Attack:</label>
        </div>
    </div>

    <div id="defenseBox" class="my-4">
        <div class="form-floating">        
            <input type="number" id="defense" formControlName="defense" class="form-control w-25 border border-black" placeholder="Defense">
            <label for="defense" class="form-label">Defense:</label>
        </div>
    </div>

    <button (click)="OnSubmit()">Submit Card</button>

    <div id="errorMessage" *ngIf="errorMessage">
        {{errorMessage}}
    </div>


</form>
